body{
    width: 100%;
    height: 100%;
}

.landing-section{
    width: 100%;
    height: 885px;
}

.experience-stats{
    justify-content: center;
    display: flex;
    align-items: center;
}

.stats-section{
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.stats-col-right{
    border-right: 2px solid rgba(197, 197, 197, 0.905);
    display: flex;
    justify-content: center;
    /* margin-left: 40px; */
}

.about-section-text{
    padding-top: 70px;
    padding-bottom: 50px;
}

.what-we-offer-section{
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.what-we-offer-box{
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    /* height: 400px; */
}

.what-we-offer-box p{
    padding-top: 180px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.what-we-offer-menu{
    position: absolute;
    background-color: aquamarine;
    top: -30px;
    right: -10px;
}

.what-we-offer-list li{
    background-color: aquamarine;
    color: white;
}

.service-card{
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    flex-direction: column;
    transition: 0.2s ease-in;
    color: #444444;
}

.service-card span{
    font-weight: bold;
    transition: 0.4s ease-out;
}


.service-card:hover span{
    text-shadow: 2px 2px #f6f5f5;
    transition: 1s ease-out;
}

.service-card-info{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* background-color: blueviolet; */
}

.software-card:hover{
    background-color: #f1feff;
    transition: 1s ease;
}

.software-fill{
    padding: 12px;
    background-color: #b7edf1;
    position: relative;
    border-radius: 6px;
}

.bank-card:hover{
    background-color: #fffaf5;
    transition: 1s ease;
}

.bank-fill{
    padding: 12px;
    background-color: #faebdd;
    position: relative;
    border-radius: 6px;
}

.payment-card:hover{
    background-color: #f4fff4;
    transition: 1s ease;
}

.payment-fill{
    padding: 12px;
    background-color: #d7f9d8;
    position: relative;
    border-radius: 6px;
}

.card-card:hover{
    background-color: #f1f7ff;
    transition: 1s ease;
}

.card-fill{
    padding: 12px;
    background-color: #d3e1f7;
    position: relative;
    border-radius: 6px;
}

.solutions-section{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #84e1f4;
}

.solutions-heading-box{
    position: relative;
    background-color: #62c7db;
    width: 120px;
    height: 120px;
    white-space: nowrap;
}

.solutions-heading-box span{
    position: absolute;
    bottom: 0;
    left: 60px;
    color: #297281;
}

.solution-card{
    width: 100%;
    height: 273px;
    background-color: #e1faff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.solution-card span{
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.solution-card:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: 0.4s ease;
}

.solution-card span .icon__{
    transition: 0.4s ease;
}

.solution-card:hover span .icon__{
    transform: rotate(-90deg);
    transition: 0.4s ease;
}

.technologies{
    padding-top: 40px;
    padding-bottom: 40px;
}

.technologies-heading-box{
    position: relative;
    background-color: #eaeded;
    width: 120px;
    height: 120px;
    white-space: nowrap;
}

.technologies-heading-box span{
    position: absolute;
    bottom: 0;
    left: 60px;
    color: #5b6061;
}

.tab-content{
    color: black;
}

.projects{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #CCCCFF;
}

.projects-heading-box{
    position: relative;
    background-color: #b0b0fa;
    width: 120px;
    height: 120px;
    white-space: nowrap;
}

.projects-heading-box span{
    position: absolute;
    bottom: 0;
    left: 60px;
    color: #4d4db6;
}

.project-card{
    width: 100%;
    height: 410px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    transition: 0.4s ease-out;
}

.project-card:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 1s ease-in;
}

.project-card-img{
    width: 100%;
    height: 60%;
    position: relative;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}

.custom-carousel-image-div{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.custom-carousel-image{
    animation: slow-zoom 40s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-caption{
    position: relative;
    top: 45%;
    text-align: center;
    /* transform: translate(50%); */
    white-space: nowrap;
}

.caption-carousel{
    overflow: hidden;
    width: 24em;
    transform: translateY(-50%); 
    text-align: center;
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

/* The typing effect */
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

.custom-company-carousel-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-company-header-section{
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-company-carousel{
    width: 100%;
    height: 400px;
}

@keyframes slow-zoom {
    0% {
        transform:scale(1);
      }
    100% {
      transform:scale(2);
    }
  }

@media (min-width: 481px) and (max-width: 899px) {
    .what-we-offer-box p{
        padding-top: 120px;
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 240px;
        position: relative;
    }
    
    .what-we-offer-menu{
        position: absolute;
        background-color: aquamarine;
        top: -30px;
        right: -10px;
    }
}

@media(min-width: 900px) {
    .what-we-offer-box p{
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 280px;
        position: relative;
    }
    
    .what-we-offer-menu{
        position: absolute;
        background-color: aquamarine;
        top: -30px;
        right: -10px;
    }
}